.menu {
  background-color: $dropdown-options-bg;
  width: 100%;
  box-shadow: $shadow;
  margin-top: $space-xxs;
  border-radius: $border-radius;
}

.option {
  padding: $space-s $space-xs;
  cursor: pointer;
}

.option:not(.optionSelected):hover p {
  color: $text-secondary;
}

.optionSelected p {
  color: $text-accent;
}

.inputFocus {
  border-color: $input-border-focus;
}
