.icon {
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: inherit;
}

.icon--c-primary {
    color: $text-primary
}

.icon--c-secondary {
    color: $text-secondary
}

.icon--c-accent {
    color: $text-accent
}

.icon svg {
    height: 100%;
    width: 100%;
}